*{
    box-sizing: border-box;
}
body {
    background-color: rgb(228, 0, 21);
    font-family: Public Sans,sans-serif;
    font-size: 12px;
    font-weight: 400;
}
/* hover color */
.hc:hover {
    color: #BDBDBD !important;
}
.hc-bg:hover {
    background-color: #C7C7C7 !important;
}
.dropdown-item:hover>.nav-main{
    background-color: rgb(228, 0, 21) ;
}
/* style nav list */
.bg-one {
    background-color: #6e6e6e;
    font-family: Sora, sans-serif;
    width: 200px;
    margin-top: 7.9px !important;
}
.font-one {
    font-size: 13px;
    font-weight: 600;
}
.hr {
    border-bottom: 1px solid #656969;
    padding-bottom: 5px;
} 
.font-two {
    font-family: Sora, sans-serif;
    font-size: 18px;
    font-weight: 300;
}
/* hover dropdown */
.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown{
    pointer-event: none;
}
/* blur image */
.bi:hover img {
    -webkit-filter: blur(1px);
      filter: blur(0.8px);
  }